* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}
h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}
#cabecalho {
  background: #1a1a1a;
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 20px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #da7b47;
}
a:hover {
  background-position: right bottom;
}
body.sobre #area-menu a#sobre,
body.servico #area-menu a#servico,
body.fotos #area-menu a#fotos,
body.contato-menu #area-menu a#contato-menu {
  color: #161615;
  background: #fff;
  cursor: text;
}
ul {
  list-style: none;
}
img {
  width: 90px;
}
.image {
  width: 600px;
  border-radius: 7px;
}
#cabecalho a:link,
#cabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}
#cabecalho a:hover {
  color: #1a1a1a;
  background: #fff;
}
#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;
}

#topo {
  position: relative;
  padding: 5px;
  width: 100%;
  line-height: 50px;
  align-items: center;
  text-align: center;
}
#sobres {
  position: relative;
  padding: 5px;
  width: 100%;
  line-height: 50px;
  align-items: center;
  text-align: center;
}
#servicos {
  position: relative;
  display: inline-flex;
  padding: 5px;
  width: 100%;
  line-height: 40px;
  align-items: center;
  text-align: center;
}
#serv {
  align-items: center;
  text-align: center;
}
#fotografia {
  width: 460px;
  margin: 5px;
  height: 350px;
  background: #dfd1d1;
  border-radius: 7px;
}
#video {
  width: 460px;
  margin: 5px;
  height: 350px;
  background: #dfd1d1;
  border-radius: 7px;
}
#cap-image {
  width: 460px;
  margin: 5px;
  height: 350px;
  background: #dfd1d1;

  border-radius: 7px;
}
#trat-image {
  width: 460px;
  margin: 5px;
  height: 350px;
  background: #dfd1d1;
  border-radius: 7px;
}
#fotos {
  position: relative;
  padding: 5px;
  width: 100%;
  line-height: 50px;
  align-items: center;
  text-align: center;
}
#cab-cont {
  align-items: center;
  text-align: center;
}

#are-contato {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#contato {
  display: flex;
  /* flex-direction: row; */
  padding: 5px;
  width: 100%;
  /* background-color: #da7b47; */
  line-height: 50px;
  align-items: center;
  justify-content: center;
}
#contato .contatoItem {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(194, 203, 214);
  width: 200px;
  height: 150px;
  align-items: center;
  justify-content: center;
}

#contato .contatoItem img {
  align-self: center;
}
